language: python
python:
- '3.6'
install: pip install -r requirements.txt -t .
script:
- true
after_success:
- mkdir dist
- find ./ -name '*.pyc' -delete
- zip -r dist/threatstack-to-sumologic.zip . -x '.git/*' -x 'dist/*'
- cp deploy/cloudformation.json dist/threatstack-to-sumologic.json
deploy:
  skip_cleanup: true
  provider: s3
  access_key_id:
    secure: KmSrpEWLB/gAWRXPo1Nz6OA7r91kRYd7qbb6sAeaK79Zs95twbWsO6um5hH7AZIDFjCIThbJCTgNYX6W2bTNR9u7+OcQLPTfGgWuhyzjgw7wIOnI+Zq7jVQcYal6GHePRDwpRWOkh5Hx1+Nwe3esSn0FI2572qDYQ1y0pqo5N1W2ofjBOGWHAm5tv/Pw+uDuyy3fEO3cNGMa/+O1NWPzjMhmhpbUL/1E68o+CuxCrgfyUH75u8TEb7iTFP9mFmcZNwHh1mdEWYKZqSs/HOLyn5hXHPtDyFBwYk4OTn5j9nX6lwqG1oXNOOordYxu95cqozdlKk54C5MHbq2kaq60JKPkf9Ek9wdG7uq5K2SeI1XqX6s1ET6H1Oja6Y/qQsQQZIufI0hSrJWOxENToi9Xz+yMTcBVbVJnHzSaANlYrSdw2l4Bl8Pr/iokAILs0mXZoqhFxWSZe7XsYaikz4AgOuFHU+QIdiA2bgcBpkUySD0mXwncjtm/EzJOuOWqXNx2XGTfi38mrcfrNkgomx50yCMVOLHBBAZAap6Y/NELpze0H5wyYxmfMDaGVwrJmWtYMd/gG7PFuhIuedIChQxgj+X/KRNR1/eZog2OmIwCXy3in5j34MoX/+MeN9xxK+jKHuAkfWXe+fz4KUNmGaVwkCaKmSQuzu9CwPoe7Odpn+Y=
  secret_access_key:
    secure: bB3FZTPtGae62UCzzqiMpKn5dqVxLl9GAmi9GgPjvoK3AO1V6YZ7Aq+R7y14/nlQAts8vvWYp0daQPQ/oWXxNVDr6bA5u8dpoqwOA4vbEMGV6yaRET3i0g0P9yba6OEGLhei7Ky03jdVZJlpqQIq8BbBU+ADW4w6o/bloNuv5mQONHVAz72Or8hTqm8TZQsg3ZK/5vOhzcRBZJiNa3M8/hHvxWfcuyarbGTX2FEkgQln4uxSkHV3Gjrdl3341GN5r+a4pj4zYUEPRLqnuUpGBsLKA9vEvd6FoJwLOwE1g6gwIfWc0xR1b3+JzY/Pp80NZVeeGf7j+rFL8+G29Gcd8iAbQB4zDJ5fJXBtFPv5bGczM2mlPvmv97XmpaAg82DCUEe7AzEhhL9XpbnSu5/UtEVD+IqjveBIwa7Aap3iSTmmgKaEe/62w1GSgUB8hFPS2tRVNGthr53IjF6g7nhPDCHuKovyb247/7uCjHlSvZRixvAlw0a3awhB2tlPZuC9FP3S+hELuvkslvUlJ2sS0lVcuCDhgj/Ami9jsRb822UHbU45u8ITLrGta4m1wvAfUYsmUp+fyGtVm6ohY9fm3zC6oPaRE1xdy+/bch1rkp5zAdYyKKHiZ3mC3dDKmmJVqVoNv+3ImdxYrYrBluPPP22PNseqJdVh3pDa57kxYMw=
  bucket: ts-demo-lamba-deploys
  local-dir: dist
  upload-dir: 'no'
  acl: public_read
  on:
    repo: threatstack/threatstack-to-sumologic
